body
{
    margin:0px;
    background-color: rgba(233, 233, 233, 0.781);
    font-size: 12px;
    color: #606060;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 0px;
}

/*---------------------------------------------------------*/
.composed_head
{
    background-color: lightblue;
    padding-bottom: 15px;
    margin-bottom: 3px;
}
/*---------------------------------------------------------*/
h1
{
    font-size: 16px;
    font-weight: bold ;
    text-align: center;
    margin : 0;
    padding: 0;
    padding-top: 10px;
}
/*---------------------------------------------------------*/
h2
{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}
/*---------------------------------------------------------*/
hr.top_hr
{
    position: relative;
    border-color:rgba(233, 233, 233, 0.781);
    width: 20%;
}
/*---------------------------------------------------------*/
hr.center_hr
{
    margin-top: 15px;
    position: relative;
    border-color:rgba(233, 233, 233, 0.781);
    width: 50%;
}
/*---------------------------------------------------------*/
hr.product_hr
{
    margin-top: 15px;
    position: relative;
    border-color:rgba(233, 233, 233, 0.781);
    width: 90%;
}
/*---------------------------------------------------------*/

.search
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
/*---------------------------------------------------------*/
div.search
{
    text-align: center;
}
/*---------------------------------------------------------*/
.big_name
{
    font-size: 4em;
}
/*---------------------------------------------------------*/

.leyenda
{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 7px;
}
/*---------------------------------------------------------*/
.login 
{
    padding:10px;
    padding-top: 30px;
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
}
/*---------------------------------------------------------*/
.login input
{
    margin: 10px;
    background-color: white;
}
/*---------------------------------------------------------*/

.user_info 
{
    padding:10px;
    padding-top: 30px;
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
}
/*---------------------------------------------------------*/
.user_info input
{
    margin: 10px;
    background-color: white;
}
/*---------------------------------------------------------*/
.edit_product
{
    background-color: white;

}
/*---------------------------------------------------------*/
.edit
{
    background-color: white;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*---------------------------------------------------------*/
.name_product 
{

    margin-bottom: 10px;
    margin-right: 228px;
    width: 200px;
    text-align: left;
}
    
/*---------------------------------------------------------*/
.product_description, .search_deal
{
    margin-bottom: 10px;
    width: 420px;
    height: 60px;
    text-align: left;
}
    
/*---------------------------------------------------------*/
.img_file
{
    margin-bottom: 10px;
    width: 420px;
    text-align: left;
}
    
/*---------------------------------------------------------*/

.long_input input
{
    width: 384px;
    background-color: white;
}
/*---------------------------------------------------------*/
.btn_search
{

    background-color: rgb(49, 49, 49);
    color: white;
}
/*---------------------------------------------------------*/

.btn_ingresar
{
    background-color: rgb(49, 49, 49);

}
/*---------------------------------------------------------*/
.btn_registrar
{
    background-color: rgb(49, 49, 49);
}
/*---------------------------------------------------------*/
.btn_editar
{
    background-color:rgb(50, 205, 50);
    margin: 5px;
    margin-left: 0px;
}
/*---------------------------------------------------------*/
.btn_eliminar
{
    background-color: rgb(241, 145, 0);
    margin: 5px;
    margin-left: 0px;
}
/*---------------------------------------------------------*/

.btn_new
{
    background-color: rgb(49, 49, 49);
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*---------------------------------------------------------*/
.btn_new a
{
    color: white;
}
/*---------------------------------------------------------*/
.register
{
    margin-top: 0px;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 3px;     
}
/*---------------------------------------------------------*/
.register button
{
    width:140px; 
    height: 25px; 
}
/*---------------------------------------------------------*/
.register button a
{
    color: white;
}
/*---------------------------------------------------------*/

.register p
{
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
}
/*---------------------------------------------------------*/
.save
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
/*---------------------------------------------------------*/
.save button
{
    width:140px; 
    height: 25px; 
}
/*---------------------------------------------------------*/
.save button a
{
    color: white;
}
/*---------------------------------------------------------*/
.btn_guardar
{
    background-color: rgb(49, 49, 49);
}
/*---------------------------------------------------------*/

.header_menu 
{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
}
/*---------------------------------------------------------*/
ul.main_menu
{
    display: flex;
    justify-content:right;

}
/*---------------------------------------------------------*/
.carrito
{
    display: inline;
    color: white;
    background-color: rgb(49, 49, 49);
    margin-right: 15px;
}

/*---------------------------------------------------------*/
.category div
{
    padding: 10px;
}
/*---------------------------------------------------------*/
.category 
{
    margin-top: 3px;
    margin-bottom: 3px;
}
/*---------------------------------------------------------*/
.list_category{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
/*---------------------------------------------------------*/
.most_wanted div
{
    padding-bottom: 10px;
}
/*---------------------------------------------------------*/
.wanted{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
/*---------------------------------------------------------*/
.product 
{
    width:450px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------*/
.product div, p
{

    padding: 10px;
    justify-content: center;
}
/*---------------------------------------------------------*/
/*.products div
{
    padding: 40px;
}
/*---------------------------------------------------------*/
.new_products div
{
    padding: 10px;
}
/*---------------------------------------------------------*/
.list_product
{
    margin-top: 3px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*---------------------------------------------------------*/
.dashboard_product
{
    margin-top: 3px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*---------------------------------------------------------*/
.new_products .new_product
{
    background-color: white;
    padding: 5px;
}
/*---------------------------------------------------------*/
.main_image
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 20px;

}
/*---------------------------------------------------------*/

a
{
    font-size: 11px;
    color: #c95555;
    text-decoration: none;
}
/*---------------------------------------------------------*/
li 
{
    display: flex;
    list-style-type: none;
    padding: 8px;
}
/*---------------------------------------------------------*/
div 
{

    padding: 10px;
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
}
/*---------------------------------------------------------*/
.thumbnail
{
    width: 150px;
    height: auto;
    border-radius: 4%;
}
/*---------------------------------------------------------*/
.mini_img
{   
    padding: 4px;
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
/*---------------------------------------------------------*/
.medium_img
{  
    padding: 2px;
    width: 250px;
    height: auto;
    border-radius: 10%;
}
/*---------------------------------------------------------*/
.big_img
{  
    padding: 10px;
    width: 360px;
    height: auto;
    border-radius: 10%;
    margin-right: 5px;
}
/*---------------------------------------------------------*/
.detail
{  
    margin: 3px;
}
/*---------------------------------------------------------*/

.category,.most_wanted
{
    text-align: center;
    padding: 10px;
    background-color: #fff;
}
/*---------------------------------------------------------*/
footer
{
    margin-top: 3px;
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*---------------------------------------------------------*/
.footer_menu ul
{
    display: block;
    padding: 2px;
}
/*---------------------------------------------------------*/
.footer_menu li
{
    display: inline;
    list-style-type: none;
}
/*---------------------------------------------------------*/
.nombre_logo{
    display: inline;
}
